.DivRoot {
    padding-top: 100px;
}

[data-anime] {
    opacity: 0;
    transition: .6s;
}

[data-anime='left'] {
    transform: translate3d(-25px, 0, 0);
}

[data-anime='rigth'] {
    transform: translate3d(25px, 0, 0);
}

[data-anime].animate {
    z-index: 0;
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}