table {
    padding: 30px 0px 30px 0px;
    color: white;
}
td {
    padding-right: 10px ;
}
.BlockLeftWhite {
    width: 50%;
}
.BlockRightWhite {
    text-align: center;
    width: 50%;
}
.buttonDownload {
    color: white;
    background-color: transparent;
    width: 100%;
    position: relative;
    display: inline-block;
    padding:  16px 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    transition: 0.2s;
}

.buttonDownload:hover {
    color: white;
    background: #08d665;
    box-shadow: 0 0 10px #08d665, 0 0 40px #08d665, 0 0 80px #08d665;
    transition-delay: 0,2;
}

.developer_activity {
    width: 100%;
}


@media (max-width: 858px) {
    table {
        font-size: 80%;
    }
}
