.Component {
    width: 100%;
    padding: 60px 70px 60px 70px;
    height: 700px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

h1{
    color: white;
}

.title {
    padding: 40px;
}

span {
    color: #08d665;
}

article{
    text-align: justify;
    color: aliceblue;
    font-size: 20px;
}

p{
    font-size: 25px;
    color: #08d665;
}

.BlockLeft {
    width: 48%;
}
.BlockRight {
    text-align: center;
    width: 48%;
}

.line {
    max-width: 310px;
    border-right: 2px solid rgba( 255,255,255, 0.70);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms steps(30) infinite normal, typing 2s steps(30) 1s normal;
}

.code_thinking {
    width: 100%;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 310px;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color:rgba( 255,255,255, 0.70);
    }
    to {
        border-right-color: transparent;
    }
}


@media (max-width: 800px) {
    .Component {
        display: inline;
    }
    .line {
        font-size: 150%;
    }
    p,article {
        font-size: 90%;
    }
    .BlockLeft {
        padding-right: 80px;
        padding-left: 80px;
        width: 100%;
    }
    .BlockRight {
        width: 100%;
        padding-right: 80px;
        padding-left: 80px;
        padding-top: 30px;
    }
    .code_thinking {
        display: none;
    }
}

@media (max-width: 400px) {
    .line {
       max-width: 215px; 
       font-size: 20px;
    }
    .BlockLeft {
        padding-left: 40px;
        padding-right: 40px;
    }
    .BlockRight {
        padding-left: 40px;
        padding-right: 40px;
    }
}
